In [1]:
# 최대값구하기 (복습)
a = [5, 6, 7, 1, 2, 3]

m = a[0]
for k in range(1, len(a), 1) :
    if (a[k] > m) :
        m = a[k]
print('max =', m)

max = 7

In [2]:
# 합 구하기 (복습)
a = [4, 5, 6, 1, 2, 3]

s=0
for k in range(0, len(a), 1) : 
    s = (s + a[k])
print('sum =', s)

sum = 21

In [8]:
# 데이터 개수 구하기 (복습)
a = [1, 2, 0, 0, 1, 2, 0, 1, 2, 0, 1, 0, 0, 0, 1]
b = 1 # parameter -> 함수에서 중요한 역할

c = 0
for k in range (0, len(a), 1) : 
    if a[k] == b :
        c = c + 1
print('count of', b, '=', c)

count of 1 = 5

In [19]:
def myPrint() :           #def : define (정의한다)
    print(1)
    print(2)
    print(3)
    return

In [10]:
dir() #directory

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'exit',
 'get_ipython',
 'k',
 'm',
 'myPrint',
 'open',
 'quit',
 's']

In [11]:
type(myPrint)

function

In [12]:
# 함수가 정의되어 있으면 , 함수를 호출(call, invoke)할 수 있다. 
# 호출 : 운영체제(파이썬 virtual machine)에게 우리 함수를 실행해줘~ 라고 요청하는 것이다.

In [16]:
myPrint() #함수의 정의(definition)와 호출(call, invocation) #변수의 할당(assignment)과 참조(reference)

1
2
3

In [17]:
# 하나의 소프트웨어는 여러개의 함수로 구성되어있다.

In [18]:
print(0)
myPrint()
print(4)

0
1
2
3
4

In [24]:
def f(a) :
    # a = 1 명령문이 자동적으로 숨겨져서 (hidden) 수행된다. 
    print('in =', a)
    return

In [25]:
f(3)

in = 3

In [28]:
def g(id_, pw) : 
    # id_ = 'kim', pw = '1111' 자동적으로 실행된다. 
    print(id_, pw)
    return

In [33]:
g('kim', '1111', '천안') #인자값과 매개변수의 갯수는 항상 같아야한다.

TypeError: g() takes 2 positional arguments but 3 were given

In [30]:
g('lee', '1234')

lee 1234

In [39]:
def h() : 
    return 1000

In [40]:
y = h()

In [41]:
print(y)

1000

In [42]:
def add(a, b) :
    c = (a + b)
    return c

In [44]:
y = add(10, 20)

In [45]:
print(y)

30

In [46]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [50]:
def myprint(*args) :
    print(args)
    return

In [52]:
myprint(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

In [55]:
import math

math.sqrt?

In [56]:
math.sqrt?

Signature: math.sqrt(x, /)
Docstring: Return the square root of x.
Type:      builtin_function_or_method

In [57]:
y = math.sqrt(2)

In [58]:
print(y)

1.4142135623730951

In [62]:
a = input('정수값을 하나 넣어주세요 :')

정수값을 하나 넣어주세요 : 123

In [63]:
print(a)

123

In [65]:
y = type('123')

In [66]:
print(y)

<class 'str'>

In [69]:
def f(a) :
    # a = [1, 2, 3, 4, 5] 
    print(a)
    return

In [70]:
f([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [71]:
def mymax(a) :  # 매개변수로 받은 a 리스트에서 최대값을 구하고 반환해주는 함수
    m = a[0]
    for k in range(1, len(a), 1) :
        if a[k] > m : 
            m = a[k]
    return m

In [73]:
x = [4, 5, 6, 1, 2, 3]
y = mymax(x)
print(y)

6

In [77]:
# 임의 리스트 a를 인자로 받아서 모든 항목의 합을 구해서 반환해주는 mysum함수를 정의하고 호출해보시오
def mysum(a) : 
    s = 0
    for k in range (0, len(a), 1) :
        s = (s + a[k])
    return s

In [79]:
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y = mysum(A)
print('sum =', y)

sum = 55

In [154]:
def mycount(a, b) : # 임의의 리스트 a에대해서 b값을 인자로 받아서 a중 포함된 b값 개수 반환하기 
                    #a = [1, 1, 1, 1, 7, 7, 7, 7, 4, 4, 4]
                    #b = 4
    c = 0
    for k in range(0, len(a), 1) :
        m = a[k]
        if m == b : 
            c = (c + 1)
    return c

In [159]:
def myview() :
    x = [1, 1, 1, 1, 7, 7, 7, 7, 4, 4, 4]
    f = [1, 4, 7]
    
    print('value', 'count')
    print('----- -----')
    for k in f :
        z = mycount(x, k)
        print(' ', k, '   ', z)
    print('----- -----')

In [160]:
myview()

value count
----- -----
  1     4
  4     3
  7     4
----- -----

In [165]:
def mycount1(A, B) : #임의의 리스트 A에 대해 B값을 인자로 받아서 a중 포함된 b값의 개수 반환하기(복습)
    c = 0
    for k in range(0, len(A), 1) :
        if A[k] ==  B :
            c = (c + 1)
    return c

In [188]:
def viewer() : 
    x = [1, 3, 4, 2, 5, 1, 2, 5, 6, 2, 3, 3, 4, 1, 1]
    f = [1, 2, 3, 4, 5, 6]

    print('  값', '   개수')
    print('------ ------')
    for k in range(0, len(f), 1) :
        z = mycount1(x, f[k])
        print('  ', f[k],'    ', z)
    print('------ ------')

In [189]:
viewer()

  값    개수
------ ------
   1      4
   2      3
   3      3
   4      2
   5      2
   6      1
------ ------

In [247]:
def minfind(a) : 
                     # 다음의 리스트 데이터에서 최소값을 구해보자 (실습) 알고리즘 > 실행 > 함수화 (파라미터화)
    m = a[0]
    for k in range(0, len(a), 1) : 
        if m > a[k] :
            m = a[k]
    print('min =', m)

In [249]:
x = [3, 4, 5, 6, 4, 1, 3, 2]
minfind(x)

min = 1

In [250]:
def maxidx(a) :
                     # 다음의 리스트에서 최대값의 인덱스를 구해보자 (실습2)
    m = a[0]
    c = 0
    for k in range(0, len(a), 1) :
        if m < a[k] :
            m = a[k]
            c = k
    print('idx =', c)

In [251]:
x = [3, 4, 5, 6, 4, 1, 3, 2]
maxidx(x)

idx = 3

In [258]:
def maxnegative(a) :
                     # 다음의 데이터에서 음수값 중 가장 큰 값 구하기 (실습3)
    m = a[0]
    for k in range(0, len(a), 1) :
        if a[k] < 0 :
            if m < a[k] :
                m = a[k]
    print('negative max =', m)

In [261]:
x = [-3, 4, -5, 6, 4, -1, 3, -2]
maxnegative(x)

negative max = -1

In [327]:
def maxnegative1(a) : # 다음의 데이터에서 음수값 중 가장 큰 값 구하기, 만약 양수라면 '음수가 없습니다' 출력 후 양수의 최대값 구하기 (실습3 응용)

    find = False
    for k in range(0, len(a), 1) : # m = -999 충분히 작은 값 (sufficiently small value)을 써도 되지만 그보다 더 작은 수가 있을 경우가 생길때를 위해
        if a[k] < 0 :              # 처음만나는 음수로 지정하고 탈출(break)할 수 있다.
            m = a[k]
            find = True
            break;
    
    if find == False : #만약 리스트에 음수가 없는경우 '음수가 없습니다'를 출력하고 양수 중 최대값 구하기
        print('음수가 없습니다')
        m = a[0]
        for k in range(1, len(a), 1) :
            if m < a[k] :
                m = a[k]
        print('positive max =', m)
        return
                
    for k in range(0, len(a), 1) : #리스트에 음수가 있을 경우 음수의 최대값 구하기
        if a[k] < 0 :
            if m < a[k] :
                m = a[k]
    print('negative max =', m)
    return

In [328]:
x = [3, 4, 5, 6, 4, 1, 3, 2]
maxnegative1(x)

음수가 없습니다
positive max = 6